<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="accountService" class="com.ofweek.AccountServiceImpl">
        <property name="accountDao" ref="accountDao" />
    </bean>

    <bean id="accountDao" class="com.ofweek.AccountDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://192.168.2.123/live_mobile" />
        <property name="user" value="exhibition" />
        <property name="password" value="ofweek_2015" />
    </bean>

    <bean id="proxyAccountService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="accountService" />
        <property name="proxyInterfaces" value="com.ofweek.AccountService" />
        <property name="transactionManager" ref="txManager" />
        <property name="transactionAttributes">
            <props>
<!-- PROPAGATION(传播行为), ISOLATION(隔离级别), readOnly(是否只读), -Exception(异常后回滚), +Exception(异常后提交)-->
                <prop key="transfer">PROPAGATION_REQUIRED, ISOLATION_DEFAULT, +java.lang.ArithmeticException</prop>
                <prop key="payService">PROPAGATION_REQUIRED, ISOLATION_DEFAULT, -java.lang.ArithmeticException</prop>
            </props>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>
