<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 目标类 -->
    <bean id="bookService" class="com.ofweek.BookServiceImpl" />

    <!-- 切面类 -->
    <bean id="myAspect" class="com.ofweek.MyAspect" />

<!--    后置通知是"after-returning"，"after"相当于finally的作用，无论如何都会执行-->
<!--    "after-throwing"的throwing参数，提供的是申明的(异常)参数名-->
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="myPointcut" expression="execution(* com.ofweek.BookServiceImpl.*(..))" />
            <aop:before method="myBefore" pointcut-ref="myPointcut" />
            <aop:after-returning method="myAfterReturning" pointcut-ref="myPointcut" />
            <aop:after method="myAfter" pointcut-ref="myPointcut" />
            <aop:around method="myAround" pointcut-ref="myPointcut" />
            <aop:after-throwing method="myAfterThrowing" pointcut-ref="myPointcut" throwing="ex" />
        </aop:aspect>
    </aop:config>
</beans>