<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 目标类 -->
    <bean id="userService" class="com.ofweek.UserServiceImpl"></bean>
    <!-- 切面类 -->
    <bean id="myAspect" class="com.ofweek.MyAspect"></bean>

    <aop:config proxy-target-class="true"> <!-- proxy-target-class为true代表强制使用CGLib -->
        <aop:pointcut id="myPointcut" expression="execution(* com.ofweek.UserServiceImpl.*(..))"/>
        <aop:advisor advice-ref="myAspect" pointcut-ref="myPointcut"></aop:advisor>
    </aop:config>

</beans>